
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Notre Galerie Photos </h1>
    </div>
  </div>
  </div>

  <div class="articles-boutons">
    <!-- <button type="button" class="btn btn-primary" (click)="askAdd()" *ngIf="editionMode" ><i class="fas fa-plus-circle"></i>&nbsp;Ajouter un produit</button>
    <button type="button" class="btn btn-outline-secondary" (click)="askBack()" *ngIf="editionMode"><i class="fas fa-chevron-left"></i>&nbsp;Retour</button> -->
  </div>

  <thead>
  <ul id="menu-accordeon">
    <li><a>TRIER PAR CATEGORIE</a>
      <ul>
        <!-- <select [(ngModel)]="categoryIdSelected" class="form-select">
          <option [ngValue]="null">TOUTES LES CATEGORIES</option>
          <option [ngValue]="category.id" *ngFor="let category of categoryList">{{ category.libelle }}</option>
        </select> -->
      </ul>
    </li>
  </ul>
  </thead>

<div class="container card-container">
  <!-- Première rangée de cartes -->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6" *ngFor="let picture of pictureList">
      <!-- Card -->
      <div class="card mb-4 disign">
        <!--Card image -->
        <div class="view overlay" (click)="goToPictureDetail()" pictureBorderCard >
          <img class="card-img-top img-hover cardRad" [src]="picture.pictureLink"  alt="Card image cap">
          <a href="">
            <!-- <div class="mask rgba-white-slight">ffsfsfsfsffffffffffffff</div> -->
            <!-- Categorie texte -->
            <div class="category">
              <h5 class="category-text" *ngFor="let categ of picture.category">{{categ}}</h5>
              <!-- End texte -->
          </div>
          </a>
        </div>
      </div>
    </div>


    <!--
    <div class="col-xs-12 col-sm-6 col-md-6"> -->
       <!-- Card -->
   <!--    <div class="card mb-4 disign">
        Card image-->
     <!--    <div class="view overlay">
          <img class="card-img-top img-hover cardRad" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
       Card -->
   <!--   <div class="card mb-4 disign"> -->

        <!--Card image-->
     <!--    <div class="view overlay">
          <img class="card-img-top img-hover cardRad" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      Card -->
   <!--    <div class="card mb-4 disign">
        Card image-->
    <!--     <div class="view overlay">
          <img class="card-img-top img-hover cardRad" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    </div>



  </div>
</div>


 <div class="container card-container">
  <div class="row ">
    <div class="col-xs-12 col-sm-6 col-md-6" *ngFor="let picture of pictureList">
      <div class="card mb-4 disign">
        <div class="view overlay ">
          <img class="card-img-top img-hover cardRad" [src]="picture.pictureLink" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
            <div class="category">
              <h5 class="category-text" *ngFor="let categ of picture.category">{{categ}}</h5>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
