<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
  <div class="wrapper wrapper--w680">
      <div class="card card-1">
        <div class="card-heading">
          <img *ngIf="picture?.pictureLink" [src]="picture.pictureLink" class="card-img">
        </div>
          <div class="card-body">
              <h2 class="title">Ajouter une photo dans votre Galerie</h2>

              <form *ngIf="picture" (ngSubmit)="onSubmit()" #pictureForm="ngForm">
                  <!-- Picture name -->
                  <div class="input-group">
                      <input class="input--style-1" type="text" placeholder="Nom de la photo" name="name" required pattern="^[a-zA-Z0-9àéèç]{1,25}$" [(ngModel)]="picture.name" #name="ngModel">
                  </div>

                  <!-- Picture Link -->
                  <div class="input-group" *ngIf="IsAddForm">
                      <div class="rs-select2 js-select-simple select--no-search">
                          <select name="pictureLink" required [(ngModel)]="picture.pictureLink" #pictureLink="ngModel">
                              <option disabled="disabled" selected="selected">Choisissez un lien d'image</option>
                              <option *ngFor="let link of pictureLinks$ | async" [value]="link">{{ link }}</option>
                          </select>
                          <div class="select-dropdown"></div>
                      </div>
                  </div>

                  <!-- Picture Categories -->
                  <div class="input-group">
                      <div class="rs-select2 js-select-simple select--no-search">
                          <select name="category" required [(ngModel)]="picture.category" #category="ngModel">
                              <option disabled="disabled" selected="selected">Catégorie</option>
                              <option *ngFor="let categ of category$ | async" [value]="categ">{{ categ }}</option>
                          </select>
                          <div class="select-dropdown"></div>
                      </div>
                  </div>

                  <div class="p-t-20" style="display: flex; justify-content: center;">
                      <button class="btn btn--radius btn--green" type="submit">{{ IsAddForm ? 'Ajouter' : 'Mettre à jour' }}</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<h3 *ngIf="!picture" class="center">
  <app-loader></app-loader>
</h3>
