
body {
  font-family: 'Montserrat', sans-serif;
}

#ads {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-wrap: wrap; /* Allows content to wrap on smaller screens */
}

#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -20px;
  background: #171630;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: whitesmoke;
  padding: 5px 10px;
  font-size: 14px;
}

#ads .card-notify-year {
  position: absolute;
  right: -10px;
  top: -20px;
  background: #ff4444;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
}

.carte-centree {
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.3);
}

#ads .card-image img {
  max-width: 100%;
  height: auto;
}

#ads .ad-btn, #ads .back-btn, #ads .delete-btn {
  text-transform: uppercase;
  width: 70px;
  height: 20px;
  border-radius: 80px;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  border: 3px solid;
  display: block;
  text-decoration: none;
  margin: 20px auto 1px auto;
  color: #000;
  overflow: hidden;
  position: relative;
}

#ads .ad-btn {
  border-color: #e6de08;
  background-color: #e6de08;
}

#ads .back-btn {
  border-color: grey;
  background-color: grey;
}

#ads .delete-btn {
  border-color: rgb(230, 4, 4);
  background-color: rgb(230, 4, 4);
}

#ads .ad-btn:hover, #ads .back-btn:hover, #ads .delete-btn:hover {
  color: #1e1717;
  background: transparent;
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  #ads {
    height: auto; /* Adjust height for smaller screens */
  }

  .carte-centree {
    transform: scale(1); /* No scale for smaller screens */
  }

  #ads .ad-btn, #ads .back-btn, #ads .delete-btn {
    font-size: 12px; /* Increase font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .carte-centree {
    padding: 10px; /* Reduce padding for very small screens */
  }
}
