<p>add-picture works!</p>
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Page Administrateur </h1>
    </div>
  </div>
</div>

<main class="site-wrapper">
  <div class="pt-table desktop-768">
    <div class="pt-tablecell page-home relative" style="background-image: url(../../../assets/pictures/cam.jpg); background-position: center; background-size: cover;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="hexagon-menu clear">
              <!-- Row 1 -->
              <div class="hexagon-row">
                <div class="hexagon-item">
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <a class="hex-content" href="**">
                    <span class="hex-content-inner">
                      <span class="icon">
                        <i class="fa fa-universal-access"></i>
                      </span>
                      <span class="title">Compte</span>
                    </span>
                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                  </a>
                </div>

                <!-- Add more hexagons for the first row if needed -->

              </div>

              <!-- Row 2 -->
              <div class="hexagon-row">
                <div class="hexagon-item">
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <a class="hex-content">
                    <span class="hex-content-inner">
                      <span class="icon">
                        <i class=" 	fas fa-camera"></i>
                      </span>
                      <span class="title">Gestion Galerie Photos</span>
                    </span>
                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                  </a>
                </div>

                <!-- Add more hexagons for the second row if needed -->

                <div class="hexagon-item">
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <a class="hex-content">
                    <span class="hex-content-inner">
                      <span class="icon">
                        <i class="fas fa-hand-holding-usd"></i>
                      </span>
                      <span class="title">Gestion Services & Prix</span>
                    </span>
                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                  </a>
                </div>

                <div class="hexagon-item">
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <a class="hex-content">
                    <span class="hex-content-inner">
                      <span class="icon">
                        <i class="fa fa-map-signs"></i>
                      </span>
                      <span class="title">Contact</span>
                    </span>
                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
