.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #867e7e;
}

.logo img {
  width: 80px;
  height: auto;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 10px;
}

/* Couleur des liens dans le menu */
.menu a {
  text-decoration: none;
  color: white;
}

.menu a:hover {
  background-color: #555; /* Couleur au survol */
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

/* Requête média pour les petits écrans */
@media only screen and (max-width: 768px) {
  .menu {
    display: none; /* Cacher le menu */
  }

  .menu.active {
    display: block; /* Afficher le menu lorsque actif */
  }

  .menu ul {
    flex-direction: column;
    width: 100%;
  }

  .menu li {
    text-align: center;
    margin: 5px 0;
  }

  .hamburger {
    display: block;
  }
}

.menu li.admin-link a {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
}
.menu li.admin-link a:hover {
  background-color: #218838;
}

.footer {
  background-color: #867e7e;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.footer a:hover {
  background-color: #555; /* Couleur au survol */
}

.social-icons a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}
/*
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

} */

.disign {
  box-shadow: 10px;
  border-radius: 35px;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0);
}
