<div class="header">
  <div class="logo">
    <a href="home"> <img src="../../../assets/pictures/logo.png" alt="Logo"></a>
  </div>
  <nav class="menu">
    <ul>
      <li><a href="home">Accueil</a></li>
      <li><a href="pictures">Galerie</a></li>
      <li><a href="rate">Tarifs</a></li>
      <li><a href="contact">Contact</a></li>
       <li><a href="#"> <i class="fas fa-user"></i></a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>

<footer class="footer fixed-footer">
  <div class="container">
    <div class="social-icons">
      <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>

  <div class="row" style="padding: 20px ;">
    <div class="col ">
      <img src="../assets/moi.jpg" width="120" height="150"
      class="img-fluid disign  profil">
      <p>Dévolopper par:<br>
        <strong>Anass N'DRI</strong><br>
        Développeur Angular Full Stack</p>
    </div>


</div>
</footer>
