

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #867e7e;
}

.logo img {
  width: 120px;
  height: auto;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 10px;
}

/* Couleur des liens dans le menu */
.menu a {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  background-color: #555; /* Couleur au survol */
}

.footer {
  background-color: #867e7e;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.social-icons a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
