

<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center" *ngIf="!isLoggedIn">Nos services et prix </h1>
      <h1 class="  text-center " *ngIf="isLoggedIn">Gérez vos Services et Prix</h1>
    </div>
  </div>
  <div class="articles-boutons" style="padding: 8px;">
    <button type="button" class="btn btn-primary" (click)="askAdd()" *ngIf="isLoggedIn" ><i class="fas fa-plus-circle"></i>&nbsp;Aujouter un Service et Prix</button>
   </div>
  </div>


  <div class="container card-container">
    <!-- Première rangée de cartes -->
    <div class="row">
      <!-- Première carte -->
      <div class="col-xs-12 col-sm-6 col-md-6" *ngFor="let rateServ of rateServList">
        <!-- Card -->
        <div class="card mb-4 disign">
          <!--Card image-->
          <div class="view overlay" (click)="goToDetailRate(rateServ)" pictureBorderCard>
            <img class="card-img-top img-hover cardRad"  [src]="rateServ.pictureLink"  alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">{{rateServ.title}}{{rateServ.rate}} euros</h4>
            <!--Text-->
            <p class="card-text">{{rateServ.description}}</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

            <div class="d-flex justify-content-between">
              <a class="ad-btn"  *ngIf="isLoggedIn" (click)="goToEditRateService(rateServ)">Modifier</a>
              <a class="delete-btn"  *ngIf="isLoggedIn" (click)="deleteRateService(rateServ)">Supprimer</a>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


